* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #1A202C;
}
.header-navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
  }

.header .header-nav {
    width: 100%;
    height: 70px;
    background-color: black;
}
.header .header-logo {
    float: left;
    margin-top: 5px;
    margin-left: 5px;
}
.header .header-nav ul {
    float: right;
    list-style-type: none;
    margin-top: 12px;
}
.header .header-nav ul li {
    display: inline-block;
    padding: 10px 30px;
}
.header .header-nav ul li a {
    text-decoration: none;
    color: #CBD5E0;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
}
.header .header-nav ul li a:hover {
    text-decoration: underline;
    color:#1F61AE;
}
.header .header-nav .active-nav {
    text-decoration: underline;
    color:#1F61AE;
}
.header .header-title {
    font-size: 3em;
    position: relative;
    text-align: center;
    margin-top: -350px;
    background-color: white;
    width: 25%;
    margin-left: 530px;
}
header .header-nav ul .last{
    margin-left: 50px;
}


.head{
    text-align: center;
    color: #CBD5E0;
    margin-top: 150px;
    font-size: 3em;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
}
.info{
    color: #CBD5E0;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    font-size: 25px;
    font-family: Azonix;
    width: 60%;
    font-size: 1.2em;
}


/* FUNCTION CONTIANER */

.function-container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 180px;
    display: flex;
    color: #CBD5E0;
}
.function-container img{
    width: 60px;
}
.excellent, .customer, .shipping{
    width: 30%;
    margin: 0px auto;
    text-align: center;
}
.function-container .title{
    font-size: 1.5em;
}
.function-container .text{
    font-size: .8em;
    margin-top: 20px;
}
.function-container .text1{
    font-size: .8em;
    margin-top: 20px;
}

.owner-container{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 100px;
    color: #CBD5E0;
}
.owner-image img{
    width: 200px;
    border-radius: 100%;
    box-shadow: 2px 3px 12px 12px #2A4365;
}
.owner-name{
    margin-top: 20px;
    font-size: 1.2em;
    color: #EDF2F7;
    font-style: italic;
}
.owner-text{
    width: 40%;
    margin: 20px auto;
}



/* FOOTER */

.footer-con{
    width: 100%;
    background-color: black;
}
.cisw{
    width: 80%;
    height: 300px;
    margin: 0 auto;
    display: flex;
}
.contact2, .information, .services, .newsletter {
    width: 20%;
    margin-left: 50px;
    margin-top: 50px;
}
.footer-con a{
    text-decoration: none;
    color: #CBD5E0;
}
.newsletter{
    margin-left: -10px;
    width: 30%;
}
.footer-con h4{
    font-size: 1em;
    margin-bottom: 20px;
    color:#1F61AE;

}
.footer-con p{
    font-size: .8em;
}
.footer-con ul li a{
    font-size: .8em;
}

.footer-con ul li a:hover{
    color:#1F61AE;
    text-decoration: underline;
}
.footer-con .contact2 ul li{
    font-size: .8em;
}

.footer-con .contact2 ul li{
    margin-top: 10px;
    color: #CBD5E0;
}
.footer-con .contact2 ul{
    margin-top: 25px;
}
.footer-con .newsletter p{
    color: #CBD5E0;
}
.footer-con ul{
    list-style-type: none;
}
.footer-con ul li{
    line-height: 1.6em;
    color: #CBD5E0;
}
.footer-con .arr{
    font-weight: bold;
}
