* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #1A202C;
}
.header-navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
  }

.header .header-nav {
    width: 100%;
    height: 70px;
    background-color: black;
}
.header .header-logo {
    float: left;
    margin-top: 5px;
    margin-left: 5px;
}
.header .header-nav ul {
    float: right;
    list-style-type: none;
    margin-top: 12px;
}
.header .header-nav ul li {
    display: inline-block;
    padding: 10px 30px;
}
.header .header-nav ul li a {
    text-decoration: none;
    color: #CBD5E0;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
}
.header .header-nav ul li a:hover {
    text-decoration: underline;
    color:#1F61AE;
}
.header .header-nav .active-nav {
    text-decoration: underline;
    color:#1F61AE;
}
.header .header-title {
    font-size: 3em;
    position: relative;
    text-align: center;
    margin-top: -350px;
    background-color: white;
    width: 25%;
    margin-left: 530px;
}
header .header-nav ul .last{
    margin-left: 50px;
}




.products-title{
    margin-top: 130px;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    color: #CBD5E0;
}
.products-title hr{
    margin-top: 10px;
    margin-left: 620px;
    width: 8%;
    background-color: #CBD5E0;
    padding: 2px;
}
.table-container{
    width: 80%;
    margin-left: 210px;
    margin-bottom: 100px;
}
table {
    margin-top: 60px;
    text-align: center;
    color: #CBD5E0;

}
table img {
    width: 200px;
}
table td {
    padding: 0px 60px;
    padding-bottom: 10px;
}
table .prodtitle{
    font-size: 1.5em;
    font-family: 'Barlow Condensed', sans-serif;
}



button{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    padding: 12px 30px;
    background-color: rgb(99, 139, 185);
    border-radius: 10px;
}
button:hover{
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
    background: linear-gradient(45deg, #210b7f, #1F61AE);
}

/* FOOTER */

.footer-con{
    width: 100%;
    background-color: black;
}
.cisw{
    width: 80%;
    height: 300px;
    margin: 0 auto;
    display: flex;
}
.contact, .information, .services, .newsletter {
    width: 20%;
    margin-left: 50px;
    margin-top: 50px;
}
.footer-con a{
    text-decoration: none;
    color: #CBD5E0;
}
.newsletter{
    margin-left: -10px;
    width: 30%;
}
.footer-con h4{
    font-size: 1em;
    margin-bottom: 20px;
    color:#1F61AE;

}
.footer-con p{
    font-size: .8em;
}
.footer-con ul li a{
    font-size: .8em;
}

.footer-con ul li a:hover{
    color:#1F61AE;
    text-decoration: underline;
}
.footer-con .contact ul li{
    font-size: .8em;
}

.footer-con .contact ul li{
    margin-top: 10px;
    color: #CBD5E0;
}
.footer-con .contact ul{
    margin-top: 25px;
}
.footer-con .newsletter p{
    color: #CBD5E0;
}
.footer-con ul{
    list-style-type: none;
}
.footer-con ul li{
    line-height: 1.6em;
    color: #CBD5E0;
}
.footer-con .arr{
    font-weight: bold;
}


